/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.tterrain{
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-border-style: solid;
}

#Mountains{
	-fx-background-image:url(../../tile_img/biome/kov_mountain.jpg);
}
#Hills{
	-fx-background-image:url(../../tile_img/biome/kov_hill.jpg);
}
#Plains{
	-fx-background-image:url(../../tile_img/biome/kov_plains.jpg);
}
#Safari{
	-fx-background-image:url(../../tile_img/biome/kov_safari.jpg);
}
#Forest{
	-fx-background-image: url(../../tile_img/biome/kov_forest.jpg);
}
#Jungle{
	-fx-background-image:url(../../tile_img/biome/kov_jungle.jpg);
}
#Taiga{
	-fx-background-image:url(../../tile_img/biome/kov_taiga.jpg);
}
#Tundra{
	-fx-background-image:url(../../tile_img/biome/kov_tundra.jpg);
}
#Swamp{
	-fx-background-image: url(../..//tile_img/biome/kov_swamp.jpg);
}
#River{
	-fx-background-image:url(../../tile_img/biome/kov_river.jpg);
}
#Lake{
	-fx-background-image:url(../../tile_img/biome/kov_lake.jpg);
}
#Sea{
	-fx-background-image:url(../../tile_img/biome/kov_sea.jpg);
}
#Desert{
	-fx-background-image:url(../../tile_img/biome/kov_desert.jpg);
}
#Snow{
	-fx-background-color: white;
}
#City{
	-fx-background-color:black;
}